.ant-modal-content {
    position: relative;
    background-clip: padding-box;
    border: 0;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
    pointer-events: auto;
    color: black !important;
    /* background-image: linear-gradient(to right, #001529, #02192e, #031c32, #041f37, #06233c, #082641, #0a2a45, #0c2d4a, #0f314f, #113555, #14395a, #163d60); */
}

.ant-modal-close-x {
    display: block;
    width: 56px;
    height: 56px;
    font-size: 18px;
    font-style: normal;
    line-height: 56px;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
    color: black;
}