.form-fw{
  background-color: white;
  margin-bottom: 10px;
}

.form-fw-without-header{
  border-top: 1px solid #bec2c7;
}

.form-fw-body{
  border-bottom: 1px solid #bec2c7;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.form-fw-body.collapsed {
  display: none;
}

.form-fw-body.expanded {
  display: block;
}

.ant-form-item-label > label {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  height: 32px;
  color: black;
  font-size: 14px;
}