.header-layout {
    background: transparent;
    height: 60px;
    border: 1px solid transparent;
    width: 100%;
    z-index: 1 
}


.header-layout-user {
    float: right;
    width: 230px;
}




