.site-custom-tab-bar .ant-tabs-nav-list{
    width:100%
}
.site-custom-tab-bar .ant-tabs-tab {
    flex: 1 1;
    text-align: center;
    margin: 0;
    display: block;
}
.ant-form-item-control-input-content{
    text-align: left;
}