.container-layout {
    margin: 24px 16px 0;
    margin-top: 80px;
    overflow: initial;
    min-height: calc(100vh - 150px);
    background-color: transparent !important;
}

.ant-layout {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: auto;
    flex: auto;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 0;
    background: transparent !important;
  }

  .ant-layout.ant-layout-has-sider > .ant-layout, .ant-layout.ant-layout-has-sider > .ant-layout-content {
    width: 0;
    background-color: transparent !important;
  }

  .ant-layout-footer {
    padding: 24px 50px;   
    color: black;
    font-size: 14px;
    background: transparent !important;
}

.header-layout {
    background: transparent;
    height: 60px;
    border: 1px solid transparent;
    width: 100%;
    z-index: 1;
}


.ant-pagination-item a {
  display: block;
  padding: 0 6px;
  /* color: rgba(0, 0, 0, 0.85); */
  -webkit-transition: none;
  transition: none;
  color: black;
}

.ant-pagination-item .anticon {
  display: inline-block;
  color: black;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ant-pagination-item-active a {
  color: #001529 !important;
}
.ant-divider-inner-text {
  font-size: 13px;
  color: black;
}

.ant-form-horizontal .ant-form-item-label {
  -ms-flex-positive: 0;
  flex-grow: 0;
  width: 25% !important;
}

.ant-form-horizontal .ant-form-item-control {
  -ms-flex: 1 1 0px;
  flex: 1 1;
  width: 25% !important;
}

span.ant-radio + * {
  padding-right: 8px;
  padding-left: 8px;
  color: black;
}

.ant-checkbox + span {
  padding-right: 8px;
  padding-left: 8px;
  color: black;
}