  .principal-layout{
      height: 100vh;
  }

  .logo {
    float: left;
    width: 200px;
    height: 60px;
    margin: 0px 0px 0px 0;
    background: rgba(255, 255, 255, 0.2);
  }
  

  /* #components-layout-demo-responsive .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .site-layout-sub-header-background {
    background: #fff;
  }
  
  .site-layout-background {
    background: #fff;
  } */