
/*
div:not(:last-child) {
    margin-bottom: 10px;
}*/
.base-page-header{
    margin-bottom: 10px;
}

.base-page-header .header-bar-fw{
    height: 60px;
}

.base-page-header .header-bar-fw-title{
    font-weight: 500;
    font-size: 20px;
    color: black;
}

