.grid-fw {
  background-color: white;
  margin-bottom: 10px;
}

.grid-fw-body {
  /* border-bottom: 1px solid #bec2c7; */
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.grid-fw-body.collapsed {
  display: none;
}

.grid-fw-body.expanded {
  display: block;
}

/* .editable-cell {
  position: relative;
}
.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}
.grid-fw-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}
[data-theme='dark'] .grid-fw-row:hover .editable-cell-value-wrap {
  border: 1px solid #434343;
} */

.grid-fw-row:hover {
  border: 1px solid #312f2f;
  cursor: pointer;
}

.table-head-agro thead > tr > th {
  background-color: black !important;
  color: white !important;
  font-size: 13px !important;
  text-align: center;
}

.table-head-agro tbody > tr > td {
  font-size: 12px !important;
  text-align: center;
  color: black;
}

.table-head-agro tbody{
  font-size: 12px !important;
  text-align: center;
  color: black;
  background-color: transparent;
}
/*
.grid_compacto .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
  padding: 0px 0px;
}*/
