
.ant-divider-horizontal.ant-divider-with-text{
    border-top-color: #bec2c7;
    color: black;

  }
  .ant-divider-inner-text{
      font-size: 13px;
  }

  .ant-col .ant-form-item-control .ant-input[disabled]{
      color: rgba(0, 0, 0, 0.85)
  }

  .ant-col .ant-form-item-control .ant-select-selection-item{
    color: rgba(0, 0, 0, 0.85)
  }
  