.form-grid-fw{
    /* background-image: linear-gradient(to right, #001529, #02192e, #031c32, #041f37, #06233c, #082641, #0a2a45, #0c2d4a, #0f314f, #113555, #14395a, #163d60);; */
    margin-bottom: 10px;
    color:black;
}

.form-grid-fw-body.collapsed {
    display: none;
  }
  
.form-grid-fw-body.expanded {
    display: block;
}
  


.form-grid-fw-body .form-fw-without-header{
    border-top: 0px;
}
  
.form-grid-fw-body .form-fw-body{
    border-bottom: 0px;
}